### IntelliJ
# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/*.iml
.idea/**/libraries
.idea/dictionaries
.idea/modules.xml

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml

### PlayFramework
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
target
test-result
server.pid
*.eml
/dist/
.cache

### SBT
dist/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.lib/

### Scala
*.class
*.log

### Sonar
.idea/sonarlint

### HTTPS Keystore
*.keystore
